.zig-cache/
zig-cache/
zig-out/
docs/node_modules/
docs/.vitepress/dist/
docs/.vitepress/cache/

*.db
*.db-shm
*.db-wal
*.sqlite
*.sqlite3
*.sqlite-wal
*.sqlite-shm

.vscode/
.idea/

*.log
*.tmp
*.swp

Thumbs.db
Desktop.ini
/sqlite